.box {
	background: #56836F;
	height: 700px;
	width: 1286px;
	margin: 40px auto;
	border-style: solid;
	border-color: #006837;
	border-width: 5px;  
}

.box1 {
	margin: 70px 100px;
}

li {
	font-size: 48px;
	font-family: 'Myriad Pro Regular';
	color: white;
	display: inline-block;
	margin-right: 50px;
}
ul {
	list-style: none;
	margin: 0;
	text-decoration: none;
	display: inline-block;
	float: right;
}
.fly {
	display: inline-block;
	vertical-align: top;
	float: right;
}
.clear {
	clear: right;
}
.box4 {
	display: inline-block;
	width: 510px;
	height: 350px;
	background: #FCEE21;
	margin-left: 100px;
}
.box5 {
	display: inline-block;
	width: 510px;
	height: 350px;
	background: #FCEE21;
	margin-left: 30px;
}