.box {
	background: #56836F;
	height: 700px;
	width: 1286px;
	margin: 40px auto;
	border-style: solid;
	border-color: #006837;
	border-width: 5px;  
}

.box1 {
	margin: 70px 100px;
}

li {
	font-size: 48px;
	font-family: 'Myriad Pro Regular';
	color: white;
	display: inline-block;
	margin-right: 50px;
}
ul {
	list-style: none;
	margin: 0;
	text-decoration: none;
	display: inline-block;
	float: right;
}
.fly {
	display: inline-block;
	vertical-align: top;
	float: right;
}
.clear {
	clear: right;
}
.box4 {
	display: inline-block;
	width: 510px;
	height: 350px;
	background: #FCEE21;
	margin-left: 100px;
}
.box5 {
	display: inline-block;
	width: 510px;
	height: 350px;
	background: #FCEE21;
	margin-left: 30px;
}
.firstbox {
	width: 456px;
	height: 315px;
	margin: 18px 25px;
}
.secondbox {
	width: 456px;
	height: 315px;
	margin: 18px 25px;
}
.computer1 {
	width: 150px;
	height: 110px;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.computer2 {
	width: 150px;
	height: 110px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.text {
	font-family: 'Segoe UI';
	font-size: 14px;
	color: #006837;
}
.text1 {
	font-family: 'Segoe UI';
	font-size: 14px;
}